@use "../abstract/mixins" as *;
@use "../base/colors" as *;

.navbar-btn-container{   
    @include boxDimension("18px 0","0 0 0 3vw");
    background-color: $transparent;
    cursor: pointer;

    .drop-down{
        top: 0;
    }

    &:hover {
        > .drop-down{
            display: block;
        }

        > .nav-btn .fa-angle-down{
            transition: all 500ms;
            transform: rotate(180deg);
        }
    }
}