@use "../base/colors" as *;

.category-item-wrapper .drop-down{
    top: -22px;
}

.category-items{
    margin:0 30px;
    cursor: pointer;
    padding: 10px 0 20px 0;

    .category-image{
        display: flex;
        justify-content: center;
        img{
            height: 70px;
        }
    }

    .category-name{
        text-align: center;
    }

    &:hover{
        color: $sky-blue;

        ~ .drop-down{
            display: block;
        }

        > .category-name .fa-angle-down{
            transform: rotate(180deg);
        }
    }
    
}

.category-list-item{
    color: $black;
    text-decoration: none;
    cursor: pointer;

    &-content{
        display: flex;
        padding: 15px 15px;
        background-color:$white;

        &-icon{
            margin-left: auto;
            display: none;
        }

        &:hover{
            background-color: $list-hover-color;
            color: $sky-blue;

            > .category-list-item-content-icon{
                display: block;
            }
        }
    }
}

.category-sublist-container{
    display: none;
}