@use "../base/colors" as co;
@use "../abstract/mixins" as mix;

/*Header search field styling start */
.search-bar{
    background-color: co.$white;
    display: flex;
    margin: 0 15px;
    border-radius: 1px;
    width: 550px;
    &-field-container{
        width: 100%;
    }

    &-field{
        @include mix.inputField("20px","94%","8px 15px","0");
    }

    &-field-icon{
        align-self: center;
        width: 6%;
        a{
            color: co.$sky-blue;
        }
    }
}
/*Header search field styling end */

