@use "../base/colors" as co;
@use "../components/customInputField";
@use "../layout/header";
@use "../abstract/mixins" as mix;
@use "../components/dropDown";

/* Header styling start */
.header{
    &-spacer{
        min-width: 10px;
        width: 170px;
        max-width: 175px;
    }

    &-content{
        display: flex;
        align-self: center;
        height: 55px;
        align-items: center;
    }

    &-logo{
        cursor: pointer;
        img{
            height: 20px;
            width: 85px;
        }

        &-text{
            font-style: italic;
            color: co.$white;
            font-weight: bold;
            position: relative;
            margin-top: -5px;

            &-plus{
                color: co.$yellow;
            }

            img{
                height: 11px;
                width: 11px;
            }
        }
    }

    &-item{
        padding: 10px;
        margin-left: 40px;
        a{
            @extend %anchorPlaceholder;
            color: co.$white;
        }
    }

    &-item-link{
        padding: 20px;
        cursor: pointer;
    }

    &-btn{
        background-color: co.$white;
        padding: 5px 40px;
        color: co.$sky-blue !important;
    }

}

.new-customer-text{
    color: co.$black;
}

.sign-up-text{
    color: co.$sky-blue;
    margin-left: auto;
}

.header-item-link:hover ~ .drop-down{
    display: block;
} 
/* Header styling end */

