@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* font styling start */
.font-100-10 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 10px;
}
.font-300-10 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 10px;
}
.font-400-10 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 10px;
}
.font-500-10 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 10px;
}
.font-100-12 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 12px;
}
.font-300-12 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 12px;
}
.font-400-12 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
}
.font-500-12 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 12px;
}
.font-100-14 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 14px;
}
.font-300-14 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 14px;
}
.font-400-14 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.font-500-14 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
}
.font-100-16 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 16px;
}
.font-300-16 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16px;
}
.font-400-16 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.font-500-16 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
}
.font-100-22 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 22px;
}
.font-300-22 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 22px;
}
.font-400-22 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 22px;
}
.font-500-22 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 22px;
}

/* font styling end */
/*Header search field styling start */
.search-bar {
  background-color: #ffffff;
  display: flex;
  margin: 0 15px;
  border-radius: 1px;
  width: 550px;
}
.search-bar-field-container {
  width: 100%;
}
.search-bar-field {
  padding: 8px 15px;
  outline: none;
  border: none;
  width: 94%;
}
.search-bar-field-icon {
  align-self: center;
  width: 6%;
}
.search-bar-field-icon a {
  color: #2874f0;
}

/*Header search field styling end */
/* Header styling start */
.header-wrapper {
  background-color: #2874f0;
  position: static;
  top: 0;
}
.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 55px;
}
.header-spacer {
  min-width: 10px;
  width: 170px;
  max-width: 175px;
}
.header-content {
  display: flex;
  align-self: center;
}
.header-logo {
  cursor: pointer;
}
.header-logo img {
  height: 20px;
  width: 85px;
}
.header-logo-text {
  font-size: 12px;
  font-style: italic;
  color: #ffffff;
  font-weight: bold;
  position: relative;
  margin-top: -5px;
}
.header-logo-text-plus {
  color: #ffbc00;
}
.header-logo-text img {
  height: 11px;
  width: 11px;
}

/* Header styling end */

/*# sourceMappingURL=main.css.map */
