@use "./placeholder" as *;
@use "../base/colors" as co;

@mixin inputField($height:15px,$width:200px,$padding:0,$margin:0) {
    @extend %inputPlaceholder;
    padding: #{$padding};
    width: #{$width};
    height: #{$height};
    margin: #{$margin};
}

@mixin customButton($height:none,$width:none,$padding:0,$margin:0,$border:none,$background-color:none,$color:co.$white) {
    @extend %buttonPlaceholder;
    padding: #{$padding};
    width: #{$width};
    height: #{$height};
    margin: #{$margin};
    border: #{$border};
    background-color: #{$background-color};
    color: #{$color};
}

@mixin customListContainer($width:300px) {
    
}

