$sky-blue:#2874f0;
$white:#ffffff;
$bg-color:#d1d3d5;
$gray:#eeeeee;
$light-gray:#cccccc;
$dark-gray:#9b9797;
$black:#212121;
$green:#448e3c;
$dark-blue:#172337;
$yellow:#ffbc00;
$dark-sky-blue:#2373f0;
$transparent:transparent;
$body-color:#f1f3f6;
$list-hover-color:#edf8efb7;
$dark-overlay:#00000080;
$dense-cream:#dbdbdb;
$orange:#fb641b;
$gray-label:#878787;