@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* font styling start */
.font-100-10 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 10px;
}
.font-300-10 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 10px;
}
.font-400-10 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 10px;
}
.font-500-10 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 10px;
}
.font-100-11 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 11px;
}
.font-300-11 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 11px;
}
.font-400-11 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 11px;
}
.font-500-11 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 11px;
}
.font-100-12 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 12px;
}
.font-300-12 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 12px;
}
.font-400-12 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
}
.font-500-12 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 12px;
}
.font-100-14 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 14px;
}
.font-300-14 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 14px;
}
.font-400-14 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.font-500-14 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
}
.font-100-15 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 15px;
}
.font-300-15 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 15px;
}
.font-400-15 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
}
.font-500-15 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 15px;
}
.font-100-16 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 16px;
}
.font-300-16 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16px;
}
.font-400-16 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.font-500-16 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
}
.font-100-22 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 22px;
}
.font-300-22 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 22px;
}
.font-400-22 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 22px;
}
.font-500-22 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 22px;
}

/* font styling end */
.login-btn, .nav-btn, .navbar-btn-container, .input-field, .input-container, .input-field-container {
  outline: none;
  border: none;
}

.drop-down-list, .list-item {
  display: flex;
  flex-direction: row;
}

.list-item {
  text-decoration: none;
  outline: none;
}

.input-container {
  display: flex;
  background-color: #ffffff;
  padding: 5px;
  padding: 5px;
  margin: 0 0 0 1vw;
  width: 40vw;
  height: auto;
}

.input-field-container {
  padding: 0;
  margin: 0;
  width: 95%;
  height: auto;
}

/*Input field styling start */
.input-field {
  padding: 5px;
  margin: 0;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  font-size: 14px;
}

.seach-icon-container {
  padding: 5px;
}
.seach-icon-container a {
  color: #2874f0;
  font-size: 16px;
}

/*Input field styling end */
.header-container {
  height: 55px;
  background-color: #2874f0;
  position: static;
  width: 100%;
}

.list-item {
  padding: 10px 0 0 10px;
}
.list-icon {
  padding: 5px 5px 15px 5px;
  color: #2874f0;
}
.list-content {
  padding: 5px 5px 15px 5px;
  color: #212121;
}
.list-divider {
  margin: 0;
  padding: 0;
  border-top: 1px solid #eeeeee;
}

.sign-up-text {
  margin-left: auto;
}

.drop-down {
  display: none;
  position: relative;
  top: 0px;
}
.drop-down-arrow {
  position: absolute;
  top: 20px;
  left: 50%;
  width: 20px;
  height: 20px;
  transform: rotate(45deg) translateX(-50%);
  background-color: #ffffff;
}
.drop-down-list {
  position: absolute;
  top: 20px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.11);
  left: 50%;
  transform: translate(-50%);
  border-radius: 5px;
}
.drop-down-list-container {
  width: 250px;
  background-color: #ffffff;
}
.drop-down-list-container-one {
  width: 250px;
  background-color: #ffffff;
  z-index: 1;
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.11);
  display: none;
}
.drop-down-list-container-two {
  z-index: 0;
  width: 250px;
  height: 200px;
  background-color: #ffffff;
  display: none;
}
.drop-down:hover {
  display: block;
}

.navbar-btn-container {
  padding: 18px 0;
  margin: 0 0 0 3vw;
  width: auto;
  height: auto;
  background-color: transparent;
  cursor: pointer;
}
.navbar-btn-container:hover > .drop-down {
  display: block;
}
.navbar-btn-container:hover > .nav-btn .fa-angle-down {
  transform: rotate(180deg);
}

.login-btn {
  border: none;
  background-color: #ffffff;
  color: #2874f0;
  padding: 5px 40px;
  margin: 0;
  width: auto;
  height: auto;
}

.nav-btn {
  border: none;
  background-color: transparent;
  color: #ffffff;
  padding: 5px;
  margin: 0;
  width: auto;
  height: auto;
}

/* Navbar styling start */
.navbar {
  display: flex;
  flex-direction: row;
  height: 55px;
  align-items: center;
}
.navbar-spacer {
  width: 13vw;
}
.navbar .logo {
  cursor: pointer;
}
.navbar .logo .logo-image-container img {
  height: 20px;
}
.navbar .logo .logo-text {
  position: relative;
  margin-top: -5px;
  font-style: italic;
  color: #ffffff;
}
.navbar .logo .logo-text .plus {
  color: #ffbc00;
}
.navbar .logo .logo-text img {
  height: 12px;
}
.navbar .logo .logo-text:hover {
  text-decoration: underline;
}

/* Navbar styling end */

/*# sourceMappingURL=main.css.map */
